In [20]:
import numpy as np
import pandas as pd
print(np.version)

<module 'numpy.version' from 'C:\\Users\\songp\\AppData\\Roaming\\Python\\Python312\\site-packages\\numpy\\version.py'>

In [21]:
df = pd.read_csv("D:/CODEs/Classroom/Data-Analysis (Lab)/week3/DA-15-Aug-2024/flights.csv")

In [22]:
df.head(10)
print(df["year"])
print("--------------")
print(df.year)

0         2013
1         2013
2         2013
3         2013
4         2013
          ...
160749    2013
160750    2013
160751    2013
160752    2013
160753    2013
Name: year, Length: 160754, dtype: int64
--------------
0         2013
1         2013
2         2013
3         2013
4         2013
          ...
160749    2013
160750    2013
160751    2013
160752    2013
160753    2013
Name: year, Length: 160754, dtype: int64

In [23]:
df.shape

(160754, 16)

In [41]:
df.sort_values(by=["minute"],ascending=False).head(100)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
52145,2013,12,30,559.0,-6.0,754.0,-20.0,DL,N959DL,1919,LGA,MSP,157.0,1020,5.0,59.0
112536,2013,6,15,1459.0,-1.0,1741.0,-14.0,AA,N5ETAA,1813,JFK,MCO,120.0,944,14.0,59.0
119755,2013,7,1,959.0,-1.0,1330.0,16.0,UA,N525UA,510,JFK,SFO,314.0,2586,9.0,59.0
86274,2013,4,17,1759.0,-1.0,1905.0,-10.0,US,N766US,2185,LGA,DCA,39.0,214,17.0,59.0
153906,2013,9,15,1159.0,-1.0,1317.0,0.0,US,N956UW,2179,LGA,DCA,49.0,214,11.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23501,2013,10,25,559.0,-1.0,903.0,-20.0,UA,N597UA,303,JFK,SFO,343.0,2586,5.0,59.0
75432,2013,3,24,1859.0,14.0,2103.0,-2.0,UA,N481UA,921,EWR,DEN,216.0,1605,18.0,59.0
98216,2013,5,14,1159.0,-11.0,1450.0,-20.0,AA,N564AA,743,LGA,DFW,185.0,1389,11.0,59.0
86241,2013,4,17,1659.0,-1.0,1928.0,4.0,DL,N303DQ,2042,EWR,ATL,106.0,746,16.0,59.0
86242,2013,4,17,1659.0,-1.0,2016.0,-9.0,AA,N338AA,181,JFK,LAX,335.0,2475,16.0,59.0

In [59]:
print(df.groupby(["year","month","day"])["dep_time"].mean(numeric_only=True).sample(10))
print("----------------")
print("ngroup : " + str(df.groupby("month").ngroups))

year  month  day
2013  7      5      1327.312169
      8      30     1309.431718
      7      25     1326.106472
             14     1368.283105
      6      1      1267.230337
      8      29     1307.527897
      2      18     1313.859688
      12     20     1330.988914
      9      29     1347.639535
      4      3      1315.697479
Name: dep_time, dtype: float64
----------------
ngroup : 12

In [25]:
df['flight']

0         1545
1         1714
2         1141
3          461
4         1696
          ...
160749     475
160750    2363
160751     185
160752     523
160753     471
Name: flight, Length: 160754, dtype: int64

In [26]:
df.groupby('origin').describe()

           year                                                         month  \
          count    mean  std     min     25%     50%     75%     max    count
origin
EWR     59035.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0  59035.0
JFK     42013.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0  42013.0
LGA     59706.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0  59706.0

                  ...  hour         minute                                   \
            mean  ...   75%   max    count       mean        std  min   25%
origin            ...
EWR     6.572237  ...  17.0  23.0  58385.0  30.162370  17.758978  0.0  15.0
JFK     6.558089  ...  17.0  24.0  41702.0  31.851158  18.625436  0.0  16.0
LGA     6.515308  ...  16.0  24.0  58331.0  34.999074  19.307334  0.0  18.0


         50%   75%   max
origin
EWR     29.0  46.0  59.0
JFK     31.0  51.0  59.0
LGA     39.0  53.0  59.0

[3 rows x 96 columns]

In [27]:
df['distance'].mean()

1282.4454197096184

In [28]:
np.mean(df['distance'])

1282.4454197096184

In [29]:
df.groupby('flight')['distance'].mean()

flight
1       2396.989924
3       2451.590786
4       1248.033445
5       2402.000000
6       1990.000000
           ...
2594    1587.000000
2595    2454.000000
2596    2248.000000
2598    1089.000000
2599     187.000000
Name: distance, Length: 1820, dtype: float64

In [30]:
df.groupby('origin')['hour'].mean()

origin
EWR    13.028141
JFK    13.217208
LGA    12.375444
Name: hour, dtype: float64

In [31]:
df[df['dest'] == 'LAS']

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
9,2013,1,1,559.0,-1.0,854.0,-8.0,UA,N76515,1187,EWR,LAS,337.0,2227,5.0,59.0
130,2013,1,1,1011.0,-4.0,1246.0,-21.0,DL,N399DA,1529,JFK,LAS,320.0,2248,10.0,11.0
147,2013,1,1,1059.0,6.0,1342.0,-9.0,UA,N451UA,369,EWR,LAS,325.0,2227,10.0,59.0
255,2013,1,1,1539.0,2.0,1854.0,35.0,UA,N14250,1222,EWR,LAS,342.0,2227,15.0,39.0
265,2013,1,1,1559.0,-6.0,1844.0,-28.0,DL,N374DA,91,JFK,LAS,309.0,2248,15.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160623,2013,9,30,1650.0,-4.0,1855.0,-39.0,UA,N404UA,578,EWR,LAS,274.0,2227,16.0,50.0
160631,2013,9,30,1659.0,-1.0,1915.0,-30.0,AA,N635AA,45,JFK,LAS,281.0,2248,16.0,59.0
160674,2013,9,30,1807.0,12.0,2000.0,-28.0,DL,N380DA,1629,JFK,LAS,272.0,2248,18.0,7.0
160707,2013,9,30,1905.0,0.0,2103.0,-34.0,DL,N3744F,1729,JFK,LAS,274.0,2248,19.0,5.0
160716,2013,9,30,1931.0,-3.0,2147.0,-39.0,UA,N26215,1429,EWR,LAS,279.0,2227,19.0,31.0

In [32]:
df[df['dest'] == 'LAS'][['dep_delay','arr_delay']]

        dep_delay  arr_delay
9            -1.0       -8.0
130          -4.0      -21.0
147           6.0       -9.0
255           2.0       35.0
265          -6.0      -28.0
...           ...        ...
160623       -4.0      -39.0
160631       -1.0      -30.0
160674       12.0      -28.0
160707        0.0      -34.0
160716       -3.0      -39.0

[4322 rows x 2 columns]

In [33]:
df['arr_delay'].mean()

2.0945373495349116